.jumbotron {
  min-height: 60vh;
  background: linear-gradient(rgba(black, .7), rgba(black, .7)), url('../img/jumbo.jpg');
  background-position: center;
  background-size: cover;
  padding: 5rem 1rem;
  color: white;

  &__btn {
    text-transform: uppercase;
    font-size: 1.6rem;
  }
}

@media(min-width: 760px) {
  .jumbotron {
    min-height: 70vh;
    padding: 10rem $padding--md;
  }
}