.footer {
  background-color: darken($colorBase, 60);
  border-radius: 2rem 2rem 0 0;
  padding: 2rem 1rem;
  color: white;

  &__link {
    margin-inline-end: 2rem;
    color: lighten($colorBase, 30);

    &:hover {
      opacity: .7;
    }
  }

  &__attribution {
    opacity: .6;
    color: white;
    transition: 300ms ease-in-out;
    font-size: 1.3rem;

    &:hover {
      opacity: 1;
    }
  }
}

@media(min-width: 760px) {
  .footer {
    padding: 3rem $padding--md 1rem;
    border-radius: $padding--md $padding--md 0 0;
  }
}