@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand-VariableFont_wght.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

html {
  font-size: 55%;
}

@media (min-width: 760px) {
  html {
    font-size: 65.2%;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8rem;
  overflow-x: hidden;
}

h1, h2,
h3, h4,
h5, h6 {
  font-family: 'Raleway', sans-serif;
}

.heading--page {
  font-size: 5rem;
}

.heading--main {
  font-size: 3rem;
  text-transform: capitalize;
}

.heading--sub {
  font-size: 2.5rem;
}

.responsive-img {
  width: 100%;
  border-radius: 1rem;
}

.card {
  background-color: white;
  -webkit-box-shadow: 0 0 70px 1px rgba(204, 204, 204, 0.3);
          box-shadow: 0 0 70px 1px rgba(204, 204, 204, 0.3);
  padding: 3rem;
  border-radius: 2rem;
  height: 100%;
}

.card--bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../img/logo.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/logo.jpg");
  color: white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 15rem;
}

.card--bg.card--chevron {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 65, 154, 0.8)), to(rgba(32, 65, 154, 0.8))), url("../img/Chevron.jpeg");
  background: linear-gradient(rgba(32, 65, 154, 0.8), rgba(32, 65, 154, 0.8)), url("../img/Chevron.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.card--bg.card--belema {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 65, 154, 0.8)), to(rgba(32, 65, 154, 0.8))), url("../img/Belemaoil.jpeg");
  background: linear-gradient(rgba(32, 65, 154, 0.8), rgba(32, 65, 154, 0.8)), url("../img/Belemaoil.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card--bg.card--shell {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 65, 154, 0.8)), to(rgba(32, 65, 154, 0.8))), url("../img/Shell.png");
  background: linear-gradient(rgba(32, 65, 154, 0.8), rgba(32, 65, 154, 0.8)), url("../img/Shell.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card--bg.card--new-cross {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 65, 154, 0.8)), to(rgba(32, 65, 154, 0.8))), url("../img/newcross.png");
  background: linear-gradient(rgba(32, 65, 154, 0.8), rgba(32, 65, 154, 0.8)), url("../img/newcross.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card--bg.card--nnpc {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 65, 154, 0.8)), to(rgba(32, 65, 154, 0.8))), url("../img/NNPC.jpeg");
  background: linear-gradient(rgba(32, 65, 154, 0.8), rgba(32, 65, 154, 0.8)), url("../img/NNPC.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card--bg.card--delta {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 65, 154, 0.8)), to(rgba(32, 65, 154, 0.8))), url("../img/NDDC.jpeg");
  background: linear-gradient(rgba(32, 65, 154, 0.8), rgba(32, 65, 154, 0.8)), url("../img/NDDC.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card--small {
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.card--about {
  text-align: center;
  cursor: pointer;
  padding: 0 0 2rem;
  overflow: hidden;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card--about:hover {
  -webkit-box-shadow: 0 0 10px 10px rgba(204, 204, 204, 0.3);
          box-shadow: 0 0 10px 10px rgba(204, 204, 204, 0.3);
}

.card--about .card__heading {
  padding: 0 1.5rem;
}

.card__header {
  text-align: center;
  margin: 0 0 3rem;
}

.card__icon {
  padding: 2rem;
  background-color: rgba(32, 65, 154, 0.05);
  color: #20419a;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__icon.lni {
  font-size: 3rem;
}

.card__heading {
  margin: 2rem 0 0;
}

.card__heading--sub {
  opacity: .5;
  color: #ff0436;
}

.card__img {
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  width: 100%;
}

#hamburger {
  display: none;
}

.hamburger {
  position: relative;
  width: 3.5rem;
  height: 100%;
  padding: .2rem;
  -webkit-margin-start: 3rem;
          margin-inline-start: 3rem;
  background-color: #d5edf2;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  cursor: pointer;
}

.hamburger::after, .hamburger::before {
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  content: "";
  position: absolute;
  width: 100%;
  background-color: #d5edf2;
  padding: .2rem;
  right: 0;
  left: 0;
}

.hamburger::after {
  top: .8rem;
  border-radius: 0 0 .3rem .3rem;
}

.hamburger::before {
  bottom: .8rem;
  border-radius: .3rem .3rem 0 0;
}

#hamburger:checked + .header div .hamburger {
  background-color: transparent;
}

#hamburger:checked + .header div .hamburger::after, #hamburger:checked + .header div .hamburger::before {
  border-radius: .3rem;
}

#hamburger:checked + .header div .hamburger::after {
  top: 0;
  -webkit-transform: translate(2px, 0) rotate(45deg);
          transform: translate(2px, 0) rotate(45deg);
}

#hamburger:checked + .header div .hamburger::before {
  bottom: 0;
  -webkit-transform: translate(2px, 0) rotate(-45deg);
          transform: translate(2px, 0) rotate(-45deg);
}

@media (min-width: 760px) {
  .hamburger {
    display: none;
  }
}

.jumbotron {
  min-height: 60vh;
  color: white;
}

.jumbotron__btn {
  text-transform: uppercase;
  font-size: 1.6rem;
}

.jumbotron .row {
  min-height: 60vh;
  padding: 5rem 1rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.jumbotron .carousel-btns {
  display: none;
}

@media (min-width: 760px) {
  .jumbotron {
    min-height: 70vh;
  }
  .jumbotron .row {
    min-height: 70vh;
    padding: 10rem 5rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    position: relative;
  }
  .jumbotron .carousel-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 10rem;
    right: 5rem;
  }
}

.btn {
  outline: none;
  background-color: #20419a;
  color: #d5edf2;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.btn--cta {
  background-color: #ff0436;
}

.btn--cta:hover {
  opacity: .7;
}

.btn--secondary {
  background-color: transparent;
  border: 0.2rem solid #d5edf2;
  color: #d5edf2;
}

.btn--secondary:hover {
  background-color: #d5edf2;
  color: #ff0436;
}

.fancy-link {
  position: relative;
  display: inline-block;
  padding: .5rem 0;
  color: #20419a;
  font-weight: 700;
  overflow: hidden;
}

.fancy-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-bottom: 0.2rem solid #20419a;
  content: '';
  z-index: -1;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.fancy-link:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.modal {
  background-color: white;
  height: 90%;
  width: 90%;
  border-radius: 1.5rem;
  overflow-x: hidden;
  border-right: 0.2rem solid #ff0436;
}

.modal__btn {
  position: absolute;
  top: 1.5rem;
  right: .5rem;
  padding: 1rem 1.1rem;
  border-radius: 50%;
  z-index: 11;
  font-size: 2rem;
  color: #ff0436;
  background-color: black;
  outline: none;
  border: .2rem solid currentColor;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.modal__btn:hover {
  background-color: #ff0436;
  color: white;
}

.modal-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.modal__text {
  margin: 2rem;
}

.modal__heading--sub {
  font-size: 1.8rem;
  opacity: .7;
}

@media (min-width: 760px) {
  .modal {
    background-color: white;
    height: 70%;
    max-width: 50%;
    border-radius: 1rem;
  }
  .modal__btn {
    position: absolute;
    top: 9rem;
    right: 23%;
    border: .2rem solid currentColor;
  }
  .modal .responsive-img {
    border-radius: 1rem 1rem 1rem 0;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  -webkit-box-shadow: 0px 3px 3px rgba(32, 65, 154, 0.2);
          box-shadow: 0px 3px 3px rgba(32, 65, 154, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  overflow: hidden;
}

.header--secondary {
  background-color: #9ca3b7;
  color: #20419a;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header--secondary .secondary__link {
  color: inherit;
  padding: .8rem 1.3rem;
  -webkit-margin-start: .5rem;
          margin-inline-start: .5rem;
  font-size: 2rem;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: .5rem;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.2);
          box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.2);
}

.header--secondary .secondary__link:hover:is(:not(span)) {
  background-color: #20419a;
  color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.header--secondary .secondary__link span {
  display: none;
  color: #20419a;
}

.header--secondary .secondary__link b {
  font-size: 1.6rem;
}

.header__logo {
  width: 7rem;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.header__logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2953c4;
  padding: 1rem;
  font-size: 2rem;
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
  border-radius: .5rem;
  color: #d5edf2;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.header__link:hover {
  background-color: #7190e2;
}

.header__link--logo {
  padding: 0;
  margin: 0;
}

.header__fancy {
  position: relative;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__fancy::before, .header__fancy::after {
  z-index: -1;
  position: absolute;
  top: -100%;
  left: 0;
  content: "";
  width: 120%;
  height: 300%;
  padding: 2rem;
  background-color: #20419a;
  -webkit-transform: skewX(-40deg);
          transform: skewX(-40deg);
}

.header__fancy::after {
  -webkit-transform: skewX(40deg);
          transform: skewX(40deg);
}

@media (min-width: 760px) {
  .header {
    padding: 1rem 5rem;
  }
  .header--secondary {
    padding: 1rem 5rem;
  }
  .header--secondary .secondary__link {
    color: inherit;
    -webkit-margin-start: 1.5rem;
            margin-inline-start: 1.5rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header--secondary .secondary__link:hover span {
    color: white;
  }
  .header--secondary .secondary__link span {
    display: block;
    font-weight: 400;
    font-size: 1.5rem;
    -webkit-margin-start: 1rem;
            margin-inline-start: 1rem;
  }
  .header__fancy {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0 0 20%;
  }
}

.nav {
  position: fixed;
  -webkit-transform: translateX(-1000rem);
          transform: translateX(-1000rem);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  z-index: 2;
  border-right: 0.5rem solid #d5edf2;
  padding: 6rem 2rem 0;
  top: 0;
  bottom: 0;
  right: 5rem;
  left: 0;
  background-color: #20419a;
}

.nav__link {
  display: block;
  color: white;
  text-transform: capitalize;
  padding: 1rem 0;
  border-bottom: 0.3rem solid rgba(213, 237, 242, 0.3);
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#hamburger:checked + .header div .nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 760px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: relative;
    border: none;
    top: auto;
    padding: 0;
  }
  .nav__link {
    border: none;
    padding: .5rem 1rem;
    -webkit-margin-start: 2rem;
            margin-inline-start: 2rem;
    position: relative;
  }
  .nav__link:hover, .nav__link--active {
    color: #d5edf2;
  }
  .nav__link:hover::after, .nav__link--active::after {
    position: absolute;
    top: 90%;
    left: 1rem;
    padding: .1rem;
    width: 40%;
    height: .3rem;
    border-radius: .1rem;
    content: "";
    background-color: #d5edf2;
  }
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section {
  padding: 2rem 1rem;
}

.section--y-small {
  padding: 1rem;
}

@media (min-width: 760px) {
  .section {
    padding: 5rem 5rem;
  }
  .section--y-small {
    padding: 2.5rem 5rem;
  }
}

.footer {
  background-color: black;
  border-radius: 2rem 2rem 0 0;
  padding: 2rem 1rem;
  color: white;
}

.footer__link {
  -webkit-margin-end: 2rem;
          margin-inline-end: 2rem;
  color: #7190e2;
}

.footer__link:hover {
  opacity: .7;
}

.footer__attribution {
  opacity: .6;
  color: white;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  font-size: 1.3rem;
}

.footer__attribution:hover {
  opacity: 1;
}

@media (min-width: 760px) {
  .footer {
    padding: 3rem 5rem 1rem;
    border-radius: 5rem 5rem 0 0;
  }
}
/*# sourceMappingURL=main.css.map */